body {
    background-color: darkblue;
    color: white;
    font-family : 'Times New Roman', Times, serif;
    font-size: 12;
    line-height: 2; 
    
}
h2 {
    color : rgb(16, 219, 16);
}
a {
    color :rgb(245, 8, 47);
}