body {
    background-color: #22396a;
    color: white;
    }
    header {
        text-align: center;
    }
    h2 {
    color : #31bb66;
    }
    a {
    color : red;
    }
    footer {
        background-color: #1001aa;
        text-align: center;
    }